{
  "AWSTemplateFormatVersion":"2010-09-09",
  "Description": "Application configuration"
  
  "Resources" : {
    "VPC" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
        "Parameters" : {
          "InstanceType" : "t1.micro",
          "KeyName" : "mykey"
        }
      }
    },
    "InternetGateway" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
        "Parameters" : {
          "VPC_ID": { "Fn::GetAtt": [ "VPC", "Outputs.VPC_ID" ]
        }
      }
    },
    "PublicSubnet" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "PublicRouteTable" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "PublicLoadBalancer" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "PrivateSubnet" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "PrivateLoadBalancer" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "NATAutoScalingGroup" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "PrivateRouteTable" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "APIAutoScalingGroup" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    },
    "WorkerAutoScalingGroup" : {
  	  "Type" : "AWS::CloudFormation::Stack",
	    "Properties" : {
	      "TemplateURL" : "https://s3.amazonaws.com/cloudformation-templates-us-east-1/EC2ChooseAMI.template",
	      "Parameters" : {
	        "InstanceType" : "t1.micro",
	        "KeyName" : "mykey"
	      }
      }
    }
  }
}
