{
  "AWSTemplateFormatVersion":"2010-09-09",
  "Description": "Application configuration"
  
  // Create VPC
  // Create Internet Gateway
  // Create Public Subnet
  // Create Route Table for Public Subnet to direct 0.0.0.0/0 to Internet Gateway
  // Create Public Load Balancer
  // Create Private Subnet
  // Create Private Load Balancer (for NAT)
  // Launch NAT AutoScaling Group into Public Subnet
  // Create Route Table for Private Subnet to direct 0.0.0.0/0 to NAT load balancer
  // Launch API AutoScaling Group into Private Subnet
  // Launch Worker AutoScaling Group into Private Subnet
}
